<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>The url of the JDBC persistence system database position</description>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3306/webproject</param-value>
    </context-param>
    <context-param>
        <description>Username for db</description>
        <param-name>dbusername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>Password for db</description>
        <param-name>dbpassword</param-name>
        <param-value>root</param-value>
    </context-param>
    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>servlets.DebugServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemComment</servlet-name>
        <servlet-class>servlets.ItemComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyShop</servlet-name>
        <servlet-class>servlets.ModifyShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopComment</servlet-name>
        <servlet-class>servlets.ShopComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertItem</servlet-name>
        <servlet-class>servlets.InsertItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopCommentReply</servlet-name>
        <servlet-class>servlets.ShopCommentReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemCommentReply</servlet-name>
        <servlet-class>servlets.ItemCommentReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniqueEmail</servlet-name>
        <servlet-class>servlets.UniqueEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/DebugServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemComment</servlet-name>
        <url-pattern>/ItemComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyShop</servlet-name>
        <url-pattern>/ModifyShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopComment</servlet-name>
        <url-pattern>/ShopComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertItem</servlet-name>
        <url-pattern>/InsertItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopCommentReply</servlet-name>
        <url-pattern>/ShopCommentReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCommentReply</servlet-name>
        <url-pattern>/ItemCommentReply</url-pattern>
    </servlet-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebAppContextListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>UniqueEmail</servlet-name>
        <url-pattern>/UniqueEmail</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/errordb.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/errordb.jsp</location>
    </error-page>
    <error-page>
        <exception-type>persistence.utils.dao.exceptions.DAOFactoryException</exception-type>
        <location>/errordb.jsp</location>
    </error-page>
</web-app>
