/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 10:06:10 AM
    Author     : pomo
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #e5e5e5;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.containerFix
{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.defaultImage
{
    max-width: 600px;
    max-height: 600px;
}

.greenText
{
    color: green;
}

.redText
{
    color: red;
}

.leftPaddingZero
{
    padding-left: 0px !important;
}